/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import "~bootswatch/dist/spacelab/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

a {
    opacity: 0.3;
    text-decoration: underline dotted !important;
    transition: opacity 1000ms !important;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.checkbox-label {
    margin-left: 0.75em;
}

label::before,
label::after {
    left: 0.75em !important;
    top: 0.6em !important;
}

.expander {
    transition: height 500ms ease-in-out;
}